body {
	margin: auto;
	width: 50%;
	background-color: #69f;
	text-align: center;
	font-size: 28px;

}

header {
	height: 150px;
	background-color: #cf9;
}

h1 {
	font-family: 'Montserrat', 'Arial', sans-serif;
	font-weight: 700px;
	padding-top: 60px;
}

section {
	font-family: 'Montserrat', 'Arial', sans-serif;
	width: 80%;
	margin: auto;
	padding: 20px;
}

a {
	background-color: #000;
	color: #ebebeb;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	border-radius: 15px;
	margin-top: 30px;
	line-height: 65px;

}

a:hover {
	background-color: #69f;
	color: #000;

}

a .d {
	background-color: #6cc;
	color: red;
	text-decoration: underline;
}